<form action="/products/add" method="post">
  <div class="form-group" >
    <label for="CourseName">Course Name</label>
    <input type="text" class="form-control" id="CourseName" name="CourseName">
  </div>
  <div class="form-group">
    <label for="CourseID">Course ID</label>
    <input type="text" class="form-control" id="CourseID" name="CourseID">
  </div> 
  <div class="form-group">
    <label for="CourseDuration">Course Duration</label>
    <input type="text" class="form-control" id="CourseDuration" name="CourseDuration">
  </div>
  <div class="form-group">
    <label for="CourseFee">Course Fee</label>
    <input type="text" class="form-control" id="CourseFee" name="CourseFee">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>